<html>
<span class="subheading">A Wine Quality Checking Web App By Shubham</span>
<form class="form-detail" action="/predict" method="post">
<input type="text" name="fixed_acidity" id="fixed_acidity" class="input-text" placeholder="fixed_acidity" required>
<input type="text" name="volatile_acidity" id="volatile_acidity" class="input-text" placeholder="volatile_acidity" required>
<input type="text" name="citric_acid" id="citric_acid" class="input-text" placeholder="citric_acid" required>
<input type="text" name="residual_sugar" id="residual_sugar" class="input-text" placeholder="residual_sugar" required>
<input type="text" name="chlorides" id="chlorides" class="input-text" placeholder="chlorides" required>
<input type="text" name="free_sulfur_dioxide" id="free_sulfur_dioxide" class="input-text" placeholder="free_sulfur_dioxide" required>
<input type="text" name="total_sulfur_dioxide" id="total_sulfur_dioxide" class="input-text" placeholder="total_sulfur_dioxide" required>
<input type="text" name="density" id="density" class="input-text" placeholder="density" required>
<input type="text" name="pH" id="pH" class="input-text" placeholder="pH" required>
<input type="text" name="sulphates" id="sulphates" class="input-text" placeholder="sulphates" required>
<input type="text" name="alcohol" id="alcohol" class="input-text" placeholder="alcohol" required>
<input type="submit" name="register" class="register" value="predict">